<div class="container">
   <div class="row">
      <h5>Production Lists</h5>
       <div class="com-md-12">
        <div class="table-responsive">
          <table class="table">
              <thead>
                  <tr>
                      <th class="text-center">#</th>
                      <th>Car Model</th>
                      <th>Varient</th>
                      <th>Fuel Type</th>
                      <th>M.Year</th>
                      <th>BookingDate</th>
                      <th class="text-right">Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td class="text-center">1</td>
                      <td>Audi</td>
                      <td>Topent</td>
                      <td>Petrol</td>
                      <td >2010</td>
                      <td >26-06-2018</td>
                      <td class="td-actions text-right">
                          <button type="button" rel="tooltip" class="btn btn-success" data-original-title="" title="">
                              <i class="material-icons">edit</i>
                          </button>
                          <button type="button" rel="tooltip" class="btn btn-danger" data-original-title="" title="">
                              <i class="material-icons">close</i>
                          </button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>  
       </div>
   </div>
</div>