<div class="container">
    <div class="row">
       <h5>Tracking</h5>
        <div class="com-md-12">
         <div class="table-responsive">
           <table class="table">
               <thead>
                   <tr>
                       <th class="text-center">#</th>
                       <th>Vendor</th>
                       <th>Component</th>
                       <th>Model</th>
                       <th>Qty</th>
                       <th class="text-right">Actions</th>
                   </tr>
               </thead>
               <tbody>
                   <tr>
                       <td class="text-center">1</td>
                       <td>winson</td>
                       <td>Engine</td>
                       <td>topmodel</td>
                       <td >20</td>
                       <td class="td-actions text-right">
                           <button type="button" rel="tooltip" class="btn btn-success" data-original-title="" title="">
                               <i class="material-icons">edit</i>
                           </button>
                           <button type="button" rel="tooltip" class="btn btn-danger" data-original-title="" title="">
                               <i class="material-icons">close</i>
                           </button>
                       </td>
                   </tr>
               </tbody>
           </table>
       </div>  
        </div>
    </div>
 </div>
